{% extends 'main/base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="display-5">Omborxona boshqaruv tizimi</h1>
    <p class="lead text-muted">Sotuvchilar va omborxonachilar uchun qulay nazorat paneli</p>
  </div>

  <div class="row g-4">
    <div class="col-md-4">
      <div class="card shadow-sm h-100 text-center">
        <div class="card-body">
          <h5 class="card-title">Mahsulotlar</h5>
          <p class="card-text">Yangi mahsulot qo‘shish, tahrirlash va mavjudlarni ko‘rish.</p>
          <a href="{% url 'products' %}" class="btn btn-outline-primary">Mahsulotlar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm h-100 text-center">
        <div class="card-body">
          <h5 class="card-title">Kategoriya</h5>
          <p class="card-text">Mahsulot kategoriyalarini boshqarish.</p>
          <a href="" class="btn btn-outline-secondary">Kategoriyalar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm h-100 text-center">
        <div class="card-body">
          <h5 class="card-title">Ombor harakatlari</h5>
          <p class="card-text">Inventar o‘zgarishlari loglarini ko‘rish.</p>
          <a href="" class="btn btn-outline-success">Inventar loglari</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-md-4">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Mahsulotlar soni</h5>
        <p class="display-6">10 ta</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Jami sotilgan</h5>
        <p class="display-6">10 mahsulot</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Umumiy tushum</h5>
        <p class="display-6">1000000 so'm</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
